/* FOR FUTURE REWRITES */
#game .card>.front-face>.card-canvas{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    overflow: visible; /*doesnt work on canvas*/
    margin-top: -1%;
    margin-bottom: -1%;
    /* outline:rgb(0, 139, 35) 3px solid; */
}
#game .card>.front-face>.card-canvas.top{
    transform: rotate(0deg);
    grid-row: 2/8;
    grid-column: 2/3;
}
#game .card>.front-face>.card-canvas.bot{
    transform: rotate(180deg);
    z-index: 0;
    grid-row: 5/8;
    grid-column: 2/3;
}