/* html{
    scroll-behavior: smooth;
} */
#debug{
    position: fixed;
    font-size: 10rem;
    width: 100%;; 
    text-align: center; 
    color: rgb(11, 11, 104);
    z-index: 3;
}
#game{
    width: 100vw;
    
    --card-scale : 4;
    --card-cascade-gap : calc(-28px * var(--card-scale));
    --anim-time-scale : 0.3;
    --anim-move-time : calc(1s * var(--anim-time-scale));
    --anim-move-initial-transition : left var(--anim-move-time), top var(--anim-move-time);
    --slot-border-size : calc(1px * var(--card-scale));
    /* outline: red solid 1px;    */
}
.draggable{transition: var(--anim-move-initial-transition);}
#game .slot{width: var(--card-width); height: var(--card-height); flex-shrink: 0;}
.cell.slot, .foundation.slot{display: inline-block; margin: 1%;}
.cell.slot, .foundation.slot, .cascade.slot{ 
    border: var(--slot-border-size) solid whitesmoke; 
    border-radius: 5%;
}

#game .top-row{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    margin-top: 0.5%; margin-bottom: 0.5%;
}
.cells-row , .foundation-row{display: flex; align-items: center; justify-content: center;}

/*debug*/
.cells-row{ background-color: rgb(89, 113, 88);}
.foundation-row{ background-color: rgb(89, 113, 88);}

#game .cascade-row{
    display: flex; width: auto;
    justify-content: center;
}
#game .cascade.slot{width: var(--card-width); height: var(--card-height);
    margin-left: 1%; margin-right: 1%;
}

/* testing will be removed
#game .cascade .cascade-start{width: var(--card-width); height: 30px;
    outline: rgb(17, 255, 0) solid 1px;
    display: inline-block;
} */

.card-container{border: 0px;padding: 0px;}

#game .card-container .card-container[ancestor-type="cascade"]{ /*when card-container is within a card-container*/
    margin-top: var(--card-cascade-gap);
}
#game .card-container .card-container[ancestor-type="foundation"]{
    --mtop : calc(-1 * var(--card-height));
    margin-top: calc(var(--mtop) + -4px);
}
#game .outer-card{
    pointer-events: none; /*we are using card-container for pointer events*/
}