/* html{
    scroll-behavior: smooth;
} */
#debug{
    font-family: "CardV2"; font-kerning: normal;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    z-index: 3;
}
#game{
    width: 100vw; touch-action: pan-y; /*prevents touch from scrolling on x-axis*/
    --card-scale : 2; /*for desktop*/
    --card-cascade-gap : calc(-2.8rem * var(--card-scale));
    --anim-time-scale : 0.3;
    --anim-move-time : calc(1s * var(--anim-time-scale));
    --anim-move-initial-transition : left var(--anim-move-time), top var(--anim-move-time);
    --slot-border-size : calc(1px * var(--card-scale));
    /* outline: red solid 1px;*/
}
@media (max-width: 600px) { #game{--card-scale : 3.5;} } /*for mobile screen size*/

.draggable{transition: var(--anim-move-initial-transition);}
#game .slot{width: var(--card-width); height: var(--card-height); flex-shrink: 0;}

#game .card-outline{
    border: var(--slot-border-size) solid whitesmoke; 
    /* box-sizing: content-box !important;*/ border-radius: 5%; 
    display: inline-block; margin-left: 1%; margin-right: 1%; /*margin: 1%;*/
}
/* .cell.slot, .foundation.slot{display: inline-block; margin: 1%;} */
/* .cell.slot, .foundation.slot, .cascade.slot{ 
    border: var(--slot-border-size) solid whitesmoke; 
    box-sizing: content-box !important; border-radius: 5%;
} */

#game .top-row{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    margin-top: 0.5%; margin-bottom: 0.5%;
}
.cells-row , .foundation-row{display: flex; align-items: center; justify-content: center;}

/*debug*/
.cells-row, .foundation-row{ background-color: rgb(89, 113, 88);}

#game .cascade-row{
    display: flex; width: auto;
    justify-content: center;
}
#game .cascade.slot{margin-left: 1%; margin-right: 1%;}

.card-container{border: 0px;padding: 0px;}

#game .card-container[ancestor-type="cascade"] .card-container{ /*when card-container is within a card-container*/
    margin-top: calc(var(--card-cascade-gap));
}
#game .card-container[ancestor-type="foundation"] .card-container{
    --mtop : calc(var(--card-height) * -1);
    margin-top: calc(var(--mtop) + -0.325em); /*magic 0.325em*/
    
}
#game .active-slot, .active-slot .card-overlay, .dragging .card-overlay{
    animation: selection 0.3s forwards;
}
@keyframes selection{
    0% {
        box-shadow: inset 50em 50em rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: inset 50em 50em rgba(0, 0, 0, 0.2);
    }
}
/* .debug-container{
    outline: blueviolet solid 4px;
} */